/*
変更前　#6A2218
変更後　#48392D
*/

/* スタイル共通 */
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, p{
    line-height: 1.5em;
}
html { 
    scroll-behavior: smooth;
}
.nav-container{
    width: 80vw;
    margin: 0 auto;
}
.container{
    /*width: 1080px;*/
    width: 80vw;
    margin: 0 auto;
}
.br_hid_pc{
    display: none;
}
h1{
    font-size: 48px;
    font-family: 'BIZ UDMincho';
}
h2{
    font-size: 36px;
    font-family: 'BIZ UDMincho';
}

h3{
    font-size: 22px;
    font-family: 'BIZ UDMincho', 'Georgia';  
}
p{
    font-size: 16px;
    font-family: 'Hiragino Kaku Gothic Pro';
}
.btn-gNav{
    display: none;
}
.nav-block{
    background-color: #CB4042;
}
#hamburger{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
#gNav{
    height: 75px;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
    transition: .3s;
}
#hamburger h1{
    color: #F8F4E6;
    font-family: 'BIZ UDMincho';
    z-index: 4;
    display: inline-block;
    line-height: 75px;
}
#gNav.open{
    right: 0px;
}
#gNav .gNav-menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 75px;
}
#gNav .gNav-menu li{
    list-style-type: none;
    display: inline-block;
    line-height: 76px;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'BIZ UDMincho';
}
#gNav .gNav-menu li a{
    color: #F8F4E6;
    text-decoration: none;
}

/* first-view */
.first-view{
    height: 600px;
    background-image: url(/image/first-view.JPG);
    background-size: cover;
    background-position: center 70%;
}
.first-view .container{
    position: relative;
}
.message{
    color: #6A2218;
    position: absolute;
    top: 300px;
    right: 0px;
}
#message{
    color: #CB4042;
    font-size: 36px;
}

/* introduction */
.introduction{
    padding: 65px 0;
}
.introduction p{
    font-family: 'BIZ UDMincho';
    line-height: 30px;
    text-align: center;
}
.introduction p:not(.intro-title){
    margin-bottom: 45px;
}
.intro-brown{
    color: #6A2218;
    font-size: 20px;
}
.intro-red{
    color: #CB4042;
    font-size: 20px;
}
.intro-title{
    color: #CB4042;
    font-size: 34px;
}

/* feature */
.feature{
    height: auto;
    background-color: #CB4042;
    padding: 65px 0 110px 0;
}
.section-title{
    text-align: center;
    margin: 0px auto 15px auto;
    display: table;
    position: relative;
}
.section-title h1{
    display: table;
    margin: 0 auto;
}
.section-title h3{
    margin: 10px auto;
    display: table;
}

.section-title::before{
    position: absolute;
    top: 15px;
    left: -120px;
    display: inline-block;
    content: "";
    width: 100px;
    height: 60px;
    background-image: url(/image/section-title.png);
    background-size: cover;
}
.section-title::after{
    position: absolute;
    top: 15px;
    right: -120px;
    display: inline-block;
    content: "";
    width: 100px;
    height: 60px;
    background-image: url(/image/section-title.png);
    background-size: cover;
}
.feature .swiper-container {
    width: 90%;
    border-radius: 15px;
}
.feature .swiper-slide{
    box-shadow: 15px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.feature img{
    border-radius: 15px 0 0 15px;
}
.feature .swiper-parentDiv {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.feature .swiper-button-prev {
    left: -4%;
}  
.feature .swiper-button-next {
    right: -4%;
}
.feature .swiper-button-next,
.feature .swiper-button-prev {
    position: absolute;
    --swiper-navigation-color:#F8F4E6;   
}
.feature .swiper-pagination{
    margin: 0 auto;
}
.feature .swiper-pagination-bullets{
    left: 50%;
    transform: translateX(-50%);
    float: none;
}
.feature .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background-color: #C4C4C4;
    opacity: 0.8;
    outline: none;
    margin: 30px 20px;
}

.feature .swiper-pagination-bullet-active {
    background-color: #F8F4E6;
    opacity: 1;
}

.feature .section-title{
    color: #F8F4E6;
}
.feature-block{
    background-color: #F8F4E6;
    width: 80vw;
    height: 510px;
    margin:0 auto;
    position: relative;
    border-radius: 15px;
}
.feature-subtitle h3{
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    color: #CB4042;
}
.feature-subtitle h3::before{
   content: '';
   position: absolute;
   bottom: 0px;
   display: inline-block;
   width: 100%;
   height: 8px;
   background-color: rgba(199, 174, 104, 0.5);
   border-radius: 2px; 
}
.feature-image{
    height: 510px;
    width: 50%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    float: left;
}
#feature-1{
    object-position: 65% 10%;
}
#feature-2{
    object-position: 50% 30%;
}
#feature-3{
    object-position: 20% 90%;
}
.feature-sentence{
    width: calc(100% - 80px);
    padding: 60px 40px;
}
.feature-sentence-parent{
    float: left;
    width: 50%;
}
.feature-explain p{
    margin-bottom: 25px;
    text-align: justify;
    color: #6A2218;
}
#big{
    font-size: 36px;
}
/* technique */
.technique{
    padding: 65px 0;
    background-color: #F8F4E6;
}
.technique .section-title{
    color: #CB4042;
}
.section-explain{
    margin-bottom: 75px;
    text-align: center;
}
.section-explain p{
    font-family: 'BIZ UDMincho';
}
.technique p{
    color: #6A2218;
}
.technique-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.technique-block:not(.technique-block-last){
    margin-bottom: 110px;
}
.technique-mov{
    width: calc(50% - 24px);
    margin:0 12px;
}
video{
    width: 100%;
}
.technique-pc-exp{
    display: block;
}
.technique-sp-exp{
    display: none;
}
.technique-exp{
    width: calc(50% - 24px);
    margin: 0 12px;
}
.technique-left{
    flex-direction: row;
}
.technique-right{
    flex-direction: row-reverse;
}
.technique-exp h3{
    color: #CB4042;
}
.technique-exp p{
    margin-bottom: 20px;
}
.technique-exp .technique-sub-title{
    margin-bottom: 40px;
}

/* artist */
.artist{
    background-image: url(/image/japanese-paper.jpeg);
    background-size: cover;
    padding: 65px 0 15px 0;
    overflow: hidden;
}
.artist .section-title{
    color: #CB4042;
}
.artist .section-explain{
    color: #6A2218;
}

.artist-block{
    width: calc(50% - 30px);
    padding: 0 15px;
    float: left;
    margin-bottom: 50px;
}
.artist-exp{
    color: #6A2218;
    text-align: center;
}
.artist-mov {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}
.artist-mov:before {
    content:"";
    display: block;
    padding-top: 56.25%;
}
.artist-mov iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.artist-url{
    margin: 10px auto;
}

.artist-url ul{
    overflow: hidden;
    text-align: center;
}

.artist-url a{
    text-decoration: none;
}
.artist-url img{
    width: 40px;
    height: 40px;
}
.artist-url li{
    display: inline-block;
    list-style-type: none;
    width: 40px;
    height: 40px;
    margin: 10px;
}

/* history */
.history{
    padding: 65px 0;
    background-color: #CB4042;
    overflow: hidden;
}
.history-pc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.history-sp{
    display: none;
}
.history .section-title{
    color: #F8F4E6;
}
.history-block{
    border-radius: 15px;
    background: #F8F4E6;
    width: calc(100% / 3 - 60px);
    color: #6A2218;
    padding:0 10px 20px 10px;
}
.history-image{
    margin: 40px auto 0 auto;
    width: 85%;
}
.history-image img{
    margin: 0 auto;
    width: 100%;
}
.hisotry-subtitle{
    padding-top: 40px;
    text-align: center;
}
.hisotry-subtitle h3{
    padding: 5px 0;
    text-align: center;
}
.history-number{
    display: inline-block;
    position: relative;
}
.history-number::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -2px;/*線の上下位置*/
    display: inline-block;
    width: 140px;/*線の長さ*/
    height: 3px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: #6A2218;/*線の色*/
    border-radius: 2px;/*線の丸み*/
}
.history-explain{
    margin-top: 30px;
    text-align: center;
}
.history-explain p{
    padding-bottom: 20px;
}

/* play */
.play{
    padding: 65px 0;
    background-color: #F8F4E6;
    overflow: hidden;
}
.play .section-title{
    color: #CB4042;
}
.play p, .play a{
    color: #6A2218;
}
.play-icon{
    background-color: #C7AE68;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}
.play-icon img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    left: 7px;
}
.play-block{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.play-block a{
    text-decoration: none;
}
.play-image{
    width: 40vw;
    background-size: cover;
}
.play-parent-block{
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
/* cooperator */
.cooperator{
    padding: 65px 0;
    background-color: #fff;
}
.cooperator .section-title{
    color: #CB4042;
}
.cooperator p{
    color:#6A2218;

}
.cooperator-block{
    color: #6A2218;
    text-align: center;
}
.cooperator .section-explain{
    margin-bottom: 40px;
}
footer{
    height: 72px;
    background: #CB4042;
    text-align: center;
    color: #F8F4E6;
}
footer p{
    line-height: 72px;
}

/* SP版 */
@media screen and (max-width: 480px) {
    .br_hid_pc{
        display: block;
    }
    .container{
        width: 90vw;
        margin: 0 auto;
    }
    h1{
        /*変更前36px*/
        /*font-size: 24px;*/
        font-size: max(25px, 7.8vw);
        font-family: 'BIZ UDMincho';
    }
    h2{
        /* 変更前24px */
        /*font-size: 21px;*/
        font-size: max(20px,4.2vw);
        font-family: 'BIZ UDMincho';
    }
    
    h3{
        /*font-size: 19px;*/
        font-size: max(17px, 4vw);
        font-family: 'BIZ UDMincho', 'Georgia';  
    }
    
    p{
        /*font-size: 16px;*/
        font-size: max(14px,3.2vw);
        font-family: 'Hiragino Kaku Gothic Pro';
    }
    .section-title::before{
        display: none;
    }
    .section-title::after{
        display: none;
    }
    .section-title{
        margin: 0px auto;
    }
    .section-title h3{
        margin: 0 auto 20px auto;
    }
    .gNav-menu li{
        font-size: max(14px,3.2vw);
        font-family: 'BIZ UDMincho';
    }
    #hamburger .btn-gNav{
        position: fixed;
        top: 18px;
        right: 5vw;
        width: 40px;
        height: 40px;
        z-index: 3;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: all 400ms;
        transition: all 400ms;
        background-color: #CB4042;
        border-radius: 5px;
    }
    
    #hamburger .btn-gNav span{
        position: absolute;
        left: 4px;
        width: 80%;
        height: 4px;
        background: #F8F4E6;
        border-radius: 10px;
        -webkit-transition: all 400ms;
        transition: all 400ms;
    }
    #hamburger .btn-gNav span:nth-child(1) {
        top:8px;
    }
    #hamburger .btn-gNav span:nth-child(2) {
        top:18px;
    }
    #hamburger .btn-gNav span:nth-child(3) {
        top:28px;
    }
    #hamburger .btn-gNav.open span:nth-child(1){
        background: #F8F4E6;
        top: 18px;
        -webkit-transform: rotate(-45deg);
        -moz-transform   : rotate(-45deg);
        transform        : rotate(-45deg);
    }
    #hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
        top: 18px;
        background :#F8F4E6;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);
    }
    
    .btn-gNav{
        display: block;
    }
    #gNav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 50px;
    }
    #gNav .gNav-menu{
        width: 100%;
        height:100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: #CB4042;
    }
    #gNav .gNav-menu li{
        padding : 10px 20px;
        margin: 0 auto;
        line-height: 1.5em;
    }
    /* first-view */
    .first-view{
        /*height: 280px*/
        height: 550px;
        background-position: 50% bottom;
    }
    .message{
        top: 110px;
        right: 0px;
        font-size: max(17px, 4vw);
    }
    #message{
        color: #CB4042;
        font-size: max(23px, 4.8vw);
    }

    /* introduction */
    .introduction{
        padding: 50px 0;
    }
    .intro-brown{
        font-size: max(14px,3.2vw);
    }
    .intro-red{
        font-size: max(14px,3.2vw);
    }
    .intro-title{
        color: #CB4042;
        font-size: max(19px,4.2vw);
    }

    /*feature*/
    .feature{
        /*height: 850px;*/
        height: auto;
        padding: 40px 0;
    }
    .feature img{
        border-radius: 15px 15px 0 0;
    }
    .feature .swiper-container {
        height: auto;   
    }
    .feature .swiper-pagination-bullet{
        margin: 30px 8px;
    }
    .feature .container{
        padding: 0 0 45px 0;
    }
    .feature .section-title{
        color: #F8F4E6;
    }
    .feature-block{
        /*height: 600px;*/
        height: auto;
    }
    .feature-subtitle{
        width: 100%;
    }
    .feature-subtitle h3{
        margin-bottom: 20px;
        display: inline-block;
        /*text-decoration: underline rgba(199, 174, 104, 0.5) solid 8px;*/
    }
    .feature-image{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 0px 0 0 0px;
    }
    #feature-1{
        object-position: 65% 80%;
    }
    #feature-2{
        object-position: 50% 20%;
    }
    #feature-3{
        object-position: 20% 90%;
    }
    .feature-sentence{
        width: calc(100% - 40px);
        padding: 20px 20px 0 20px;
    }
    .feature-sentence-parent{
        float: left;
        width: 100%;
    }
    .feature-explain p{
        margin-bottom: 20px;
        font-size: 14px;
    }
    #big{
        font-size: 24px;
    }
    /* technique */
    .technique-pc-exp{
        display: none;
    }
    .technique-sp-exp{
        display: block;
        margin: 0 auto;
        width: 80vw;
    }
    .technique-sp-exp{
        color: #CB4042;
    }
    .technique{
        padding: 40px 0;
    }
    .technique-block{
        display: block;
    }
    .technique .section-title h3{
        margin-bottom: 20px;
    }
    .section-explain{
        margin-bottom: 60px;
        text-align: center;
    }
    .section-explain p{
        font-family: 'BIZ UDMincho';
    }
    .technique-block:not(.technique-block-last){
        margin-bottom: 50px;
    }
    .technique-mov{
        width: 80vw;
        margin: 20px auto;
        padding: 0 15px;
        float: none;
    }
    .technique-exp{
        width: 80vw;
        float: none;
        padding: 0 15px;
        margin: 0 auto;
    }
    /*history*/
    .history{
        padding: 40px 0 85px;
    }
    .history-pc{
        display: none;
    }
    .history-sp{
        display: block;
    }
    .history-block{
        width: 90%;
        height: 460px;
        float: none;
        margin: 0 auto;
        padding: 0;
        border-radius: 15px;
    }
    .history .swiper-slide{
        /*box-shadow: 15px 15px rgba(0, 0, 0, 0.25);*/
        border-radius: 15px;
    }
    .history .swiper-container {
        margin: 0 auto;
        width: 90%;
        border-radius: 15px;
        box-shadow: 15px 15px rgba(0, 0, 0, 0.25);
    }
    .history .swiper-wrapper{
        border-radius: 15px;
    }

    .history .swiper-parentDiv {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .history .swiper-button-prev {
        position: absolute;
        left: -4%;
    }
    
    .history .swiper-button-next {
        position: absolute;
        right: -4%;
    }
    .history .swiper-button-next,
    .history .swiper-button-prev {
        --swiper-navigation-color:#F8F4E6;   
    }
    .history .swiper-pagination{
        margin: 0px auto;
    }
    .history .swiper-pagination-bullets{
        left: 50%;
        transform: translateX(-50%);
    }
    .history .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
        background-color: #C4C4C4;
        opacity: 0.8;
        outline: none;
        margin: 30px 8px;
    }
    .history .swiper-pagination-bullet-active {
        background-color: #F8F4E6;
        opacity: 1;
    }
    .history-image{
        margin: 20px auto 0 auto;
        width: 55%;
    }
    .history-image img{
        margin: 0 auto;
        width: 100%;
    }
    .hisotry-subtitle{
        padding-top: 10px;
        text-align: center;
    }
    .hisotry-subtitle h3{
        padding: 5px 0;
        text-align: center;
    }
    .history-number{
        display: inline-block;
        position: relative;
    }
    .history-number::before{
        content: '';
        position: absolute;
        left: 50%;
        top: -2px;/*線の上下位置*/
        display: inline-block;
        width: 140px;/*線の長さ*/
        height: 3px;/*線の太さ*/
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: #6A2218;/*線の色*/
        border-radius: 2px;/*線の丸み*/
    }
    .history-explain{
        margin-top: 10px;
        text-align: center;
    }
    .history-explain p{
        padding-bottom: 20px;
    }
    
    /* artist */
    .artist{
        padding: 40px 0;
    }
    .artist-block{
        width: 80vw;
        padding: 0 15px;
        float: none;
        margin: 0 auto 30px auto;
    }
    .artist-exp{
        color: #6A2218;
        text-align: center;
    }
    .artist-mov {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    .artist-url{
        margin: 10px auto;
    }

    .artist-url ul{
        overflow: hidden;
        text-align: center;
    }

    .artist-url a{
        text-decoration: none;
    }
    .artist-url img{
        width: 40px;
        height: 40px;
    }
    .artist-url li{
        display: inline-block;
        list-style-type: none;
        width: 40px;
        height: 40px;
        margin: 10px;
    }
    /*play*/
    .play{
        padding: 40px 0;
        background-color: #F8F4E6;
        overflow: hidden;
    }
    .play-icon{
        background-color: #C7AE68;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: relative;
    }
    .play-icon img{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 8px;
        left: 7px;
    }
    .play-blocks{
        margin-top: 20px;
    }
    .play-parent-block{
        display: block;
    }
    .play-block{
        width: 100%;
        margin: 0px;
        padding: 0 15px;
    }
    .play-block p, .play-block a{
        display: inline-block;
    }
    .play-block a{
        text-decoration: none;
    }
    .play-image{
        float:none;
        width: 80vw;
        padding: 0 15px;
        margin: 0 auto;
    }
    .play-image img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .cooperator{
        padding: 40px 0;
    }
}