/*
変更前　#6A2218
変更後　#48392D
*/

/* スタイル共通 */
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, p{
    line-height: 1.5em;
}
html { 
    scroll-behavior: smooth;
}
/*ローディング*/
.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #CB4042;
    /*background-color: #F8F4E6;*/
    z-index: 10;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #F8F4E6;
  /*color: #CB4042;*/
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/*nav*/


.nav-container{
    width: 80vw;
    margin: 0 auto;
}
.container{
    /*width: 1080px;*/
    width: 80vw;
    margin: 0 auto;
}
.br_hid_pc{
    display: none;
}
h1{
    font-size: 46px;
    font-family: 'BIZ UDMincho',serif;
}
h2{
    font-size: 36px;
    font-family: 'BIZ UDMincho',serif;
}

h3{
    font-size: 22px;
    font-family: 'BIZ UDMincho', 'Georgia',serif;  
}
p{
    font-size: 16px;
    font-family: 'メイリオ','Meiryo', 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3', sans-serif;
}
.btn-gNav{
    display: none;
}
.nav-block{
    background-color: #CB4042;
}
#hamburger{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
#gNav{
    height: 75px;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
    transition: .3s;
}
#hamburger h1{
    color: #F8F4E6;
    font-family: 'BIZ UDMincho', serif;
    z-index: 4;
    display: inline-block;
    line-height: 75px;
    font-size: 36px;
}
#gNav.open{
    right: 0px;
}
#gNav .gNav-menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 75px;
}
#gNav .gNav-menu li{
    list-style-type: none;
    display: inline-block;
    line-height: 76px;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'BIZ UDMincho', serif;
}
#gNav .gNav-menu li a{
    color: #F8F4E6;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
#gNav .gNav-menu li a::before,
#gNav .gNav-menu li a::after {
  border-bottom: solid 2px #F8F4E6;
  bottom: 15px;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
  z-index: 2;
}
#gNav .gNav-menu li a::before {
  left: 50%;
}
#gNav .gNav-menu li a::after {
  right: 50%;
}
#gNav .gNav-menu li a:hover::before,
#gNav .gNav-menu li a:hover::after {
  width: 50%;
}
/* first-view */
.first-view{
    height: 600px;
    background-image: url(/image/first-view.JPG);
    background: linear-gradient(180deg, rgba(0,0,0,0) 50.00%, rgba(0, 0, 0, 0.5) 100%), url(/image/first-view.JPG);
    ;
    background-size: cover;
    background-position: center 70%;
}
.first-view .container{
    position: relative;
}
.message{
    color: #6A2218;
    position: absolute;
    top: 300px;
    right: 0px;
}
#message{
    color: #CB4042;
    font-size: 36px;
}

/*スクロールダウン全体の場所*/
.scrolldown1{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
    top: 400px;
    left: 0;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
    transform: rotate(90deg);
    /*描画位置*/
	position: absolute;
    /*テキストの形状*/
	color: #F8F4E6;
    font-size: 20px;
    font-family: 'Georgia';
    letter-spacing: 0.2em;
}
/* 線の描写 */
.scrolldown1::after{
    content: "";
    /*描画位置*/
    position: absolute;
    left: 50px;
    top: -3px;
    /*線の形状*/
    height: 30px;
    width: 1px;
    background: #F8F4E6;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove-pc 1.4s ease-in-out infinite;
    opacity:0;
}
  
/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove-pc{
    0%{
      height:0;
      top:90px;
      opacity: 0;
    }
    30%{
      height:30px;
      opacity: 1;
    }
    100%{
      height:0;
      top:140px;
      opacity: 0;
    }
}

/* introduction */
.introduction{
    padding: 130px 0;
}
.introduction p{
    font-family: 'BIZ UDMincho', serif;
    line-height: 30px;
    text-align: center;
}
.introduction p:not(.intro-title){
    margin-bottom: 60px;
}
.intro-brown{
    color: #6A2218;
    font-size: 20px;
}
.intro-red{
    color: #CB4042;
    font-size: 20px;
}
.intro-title{
    color: #CB4042;
    font-size: 34px;
}

/* feature */
.feature{
    height: auto;
    background-color: #CB4042;
    padding: 65px 0 110px 0;
}
.section-title{
    text-align: center;
    margin: 0px auto 15px auto;
    display: table;
    position: relative;
}
.section-title h1{
    display: table;
    margin: 0 auto;
}
.section-title h3{
    margin: 10px auto;
    display: table;
}

.section-title::before{
    position: absolute;
    transform: translateY(50%);
    left: -120px;
    top: 0;
    display: inline-block;
    content: "";
    width: 100px;
    height: 60px;
    background-image: url(/image/section-title.png);
    background-size: cover;
}
.section-title::after{
    position: absolute;
    transform: translateY(50%);
    top: 0;
    right: -120px;
    display: inline-block;
    content: "";
    width: 100px;
    height: 60px;
    background-image: url(/image/section-title.png);
    background-size: cover;
}
.feature .swiper-container {
    width:  calc(76vw + 24px);
    border-radius: 15px;
    height: 520px;
}
.feature .swiper-slide{
    border-radius: 15px;
    margin: 0 auto;
}

.feature img{
    border-radius: 15px 0 0 15px;
}
.feature .swiper-parentDiv {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.feature-block{
    background-color: #F8F4E6;
    width: 76vw;
    height: 480px;
    margin:0 auto;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 12px 12px rgba(0, 0, 0, 0.25);
    /*filter: drop-shadow(12px 12px rgba(0, 0, 0, 0.25));*/
}
.feature .swiper-button-prev {
    left: -4%;
}  
.feature .swiper-button-next {
    right: -4%;
}
.feature .swiper-button-next,
.feature .swiper-button-prev {
    position: absolute;
    --swiper-navigation-color:#F8F4E6;   
    z-index: 0;
}
.feature .swiper-pagination{
    margin: 0 auto;
    bottom: -18px;
}
.feature .swiper-pagination-bullets{
    left: 50%;
    transform: translateX(-50%);
    float: none;
}
.feature .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background-color: #C4C4C4;
    opacity: 0.8;
    outline: none;
    margin: 10px 20px;
}

.feature .swiper-pagination-bullet-active {
    background-color: #F8F4E6;
    opacity: 1;
}

.feature .section-title{
    color: #F8F4E6;
}
.feature-subtitle h3{
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    color: #CB4042;
}
.feature-subtitle h3::before{
   content: '';
   position: absolute;
   bottom: 0px;
   display: inline-block;
   width: 100%;
   height: 8px;
   background-color: rgba(199, 174, 104, 0.5);
   border-radius: 2px; 
}
.feature-image{
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    float: left;
}
#feature-1{
    object-position: 65% 10%;
}
#feature-2{
    object-position: 50% 30%;
}
#feature-3{
    object-position: 40% bottom;
}
.feature-sentence{
    width: calc(100% - 80px);
    padding: 60px 40px;
}
.feature-sentence-parent{
    float: left;
    width: 50%;
}
.feature-explain p{
    margin-bottom: 25px;
    text-align: justify;
    color: #6A2218;
}
#big{
    font-size: 36px;
}

/* technique */
.technique-title-block{
    position: relative;
    height: 122px;
}
.technique{
    padding: 65px 0;
    background-color: #F8F4E6;
}
.technique .section-title{
    color: #CB4042;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
#technique-bg1{
    position: absolute;
    top: 0;
    left: 0px;
}
#technique-bg2{
    position: absolute;
    top: 0;
    right: 0px;
}
.section-explain{
    margin-bottom: 75px;
    text-align: center;
}
.section-explain p{
    font-family: 'BIZ UDMincho',serif;
}
.technique p{
    color: #6A2218;
}
.technique-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.technique-block:not(.technique-block-last){
    margin-bottom: 110px;
}
.technique-mov{
    width: calc(50% - 24px);
    margin:0 12px;
}
video{
    width: 100%;
}
.technique-pc-exp{
    display: block;
}
.technique-sp-exp{
    display: none;
}
.technique-exp{
    width: calc(50% - 24px);
    margin: 0 12px;
}
.technique-left{
    flex-direction: row;
}
.technique-right{
    flex-direction: row-reverse;
}
.technique-exp h3{
    color: #CB4042;
}
.technique-exp p{
    margin-bottom: 20px;
}
.technique-exp .technique-sub-title{
    margin-bottom: 40px;
}

/* artist */
.artist{
    background-image: url(/image/japanese-paper.jpeg);
    background-size: cover;
    padding: 65px 0 15px 0;
    overflow: hidden;
}
.artist .section-title{
    color: #CB4042;
}
.artist .section-explain{
    color: #6A2218;
}

.artist-block{
    width: calc(50% - 30px);
    padding: 0 15px;
    float: left;
    margin-bottom: 50px;
}
.artist-exp{
    color: #6A2218;
    text-align: center;
}
.artist-mov {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}
.artist-mov:before {
    content:"";
    display: block;
    padding-top: 56.25%;
}
.artist-mov iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.artist-url{
    margin: 10px auto;
}

.artist-url ul{
    overflow: hidden;
    text-align: center;
}

.artist-url a{
    text-decoration: none;
}
.artist-url img{
    width: 40px;
    height: 40px;
}
.artist-url li{
    display: inline-block;
    list-style-type: none;
    width: 40px;
    height: 40px;
    margin: 10px;
}
.yt { /* 動画をレスポンシブ表示、無駄な余白出さないようにパディング設定 */
	width: 100%;
}

.yt iframe { /* 親要素内100%で動画を表示する */
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.yt_video { /* 親要素内100%でサムネイル画像を表示する */
	position: absolute;
	width:100%;
	height:auto;
	top:0;
}

.yt_video img { /* 親要素内100%でサムネイル画像を表示する */
	width:100%;
	height:auto;
}

.yt_video::before { /* FontAwesomeで再生ボタンを画像上に。あっても無くても可 */
	position: absolute;
	font-family: "Font Awesome 5 Free";
	content: "\f04b";
	font-weight:900;
	color: #F8F4E6;
	font-size: 60px;
	top: 50%;
	left: 50%;
	transform : translate(-50%,-50%);
	opacity: .90;
	transition:.5s;
}

.yt_video img:hover{ /* ホバー時にカーソル変える */
	cursor: pointer;
	width:100%;
	height:auto;
	box-sizing: border-box;
}

.yt_video:hover::before { /* ホバー時アイコンの色変える */
	color: #C7AE68;
	transition:.5s;
}
/* history */
.history{
    padding: 65px 0;
    background-color: #CB4042;
    overflow: hidden;
}
.history-pc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.history-sp{
    display: none;
}
.history .section-title{
    color: #F8F4E6;
}
.history-block{
    border-radius: 15px;
    background: #F8F4E6;
    width: calc(100% / 3 - 60px);
    color: #6A2218;
    padding:0 10px 20px 10px;
}
.history-image{
    margin: 40px auto 0 auto;
    width: 85%;
}
.history-image img{
    margin: 0 auto;
    width: 100%;
}
.hisotry-subtitle{
    padding-top: 40px;
    text-align: center;
}
.hisotry-subtitle h3{
    padding: 5px 0;
    text-align: center;
}
.history-number{
    display: inline-block;
    position: relative;
}
.history-number::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -2px;/*線の上下位置*/
    display: inline-block;
    width: 140px;/*線の長さ*/
    height: 3px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: #6A2218;/*線の色*/
    border-radius: 2px;/*線の丸み*/
}
.history-explain{
    margin-top: 30px;
    text-align: center;
}
.history-explain p{
    padding-bottom: 20px;
}

/* play */
.play{
    padding: 65px 0;
    background-color: #F8F4E6;
    overflow: hidden;
}
.play .section-title{
    color: #CB4042;
}
.play p, .play a{
    color: #6A2218;
}
.play a{
    border-bottom: solid #C7AE68 2px;
}
.play-icon{
    background-color: #C7AE68;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}
.play-icon img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    left: 7px;
}
.play-block{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.play-block a{
    text-decoration: none;
    display: block;
}
.play-block a::after {
    border-bottom: solid 2px #C7AE68;
    bottom: 0;
    content: "";
    display: block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;
}
.play-block a:hover::after {
    width: 100%;
}

.play-image{
    width: 40vw;
    background-size: cover;
}
.play-parent-block{
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
/* cooperator */
.cooperator{
    padding: 65px 0;
    background-color: #fff;
}
.cooperator .section-title{
    color: #CB4042;
}
.cooperator p{
    color:#6A2218;

}
.cooperator-block{
    color: #6A2218;
    text-align: center;
}
.cooperator .section-explain{
    margin-bottom: 40px;
}
footer{
    height: 72px;
    background: #CB4042;
    text-align: center;
    color: #F8F4E6;
}
footer p{
    line-height: 72px;
}

/* スクロールCSS */
.fade-in {
    opacity: 0;
    transition-duration: 1500ms;
    transition-property: opacity, transform;
}

.fade-in-up {
    transform: translate(0, 50px);
}

.fade-in-down {
    transform: translate(0, -50px);
}

.fade-in-left {
    transform: translate(-50px, 0);
}

.fade-in-right {
    transform: translate(50px, 0);
}

.scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}

/* SP版 (460px)*/
@media screen and (max-width: 800px) {
    .fade-in{
        transition-duration: 800ms;
    }
    .fade-in-down{
        transform: translate(0, 30px);
    }
    .br_hid_pc{
        display: block;
    }
    .container{
        width: 90vw;
        margin: 0 auto;
    }
    h1{
        /*変更前36px*/
        /*font-size: 24px;*/
        font-size: min(max(24px, 7.8vw),46px);
        font-family: 'BIZ UDMincho', serif;
    }
    h2{
        /* 変更前24px */
        /*font-size: 21px;*/
        font-size: min(max(20px,4.2vw), 36px);
        font-family: 'BIZ UDMincho',serif;
    }
    
    h3{
        /*font-size: 19px;*/
        font-size: min(max(17px, 4vw), 22px);
        font-family: 'BIZ UDMincho', 'Georgia',serif;  
    }
    
    p{
        /*font-size: 16px;*/
        font-size: min(max(14px,3.2vw), 16px);
        font-family: 'メイリオ','Meiryo', 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3';
    }
    .section-title::before{
        display: none;
    }
    .section-title::after{
        display: none;
    }
    .section-title{
        margin: 0px auto;
    }
    .section-title h3{
        margin: 0 auto 20px auto;
    }
    .gNav-menu li{
        font-size: min(max(14px,3.2vw),16px);
        font-family: 'BIZ UDMincho',serif;
    }
    #hamburger h1{
        font-size: 24px;
    }
    #hamburger .btn-gNav{
        position: fixed;
        top: 18px;
        right: 5vw;
        width: 40px;
        height: 40px;
        z-index: 3;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: all 400ms;
        transition: all 400ms;
        background-color: #CB4042;
        border-radius: 5px;
    }
    
    #hamburger .btn-gNav span{
        position: absolute;
        left: 4px;
        width: 80%;
        height: 4px;
        background: #F8F4E6;
        border-radius: 10px;
        -webkit-transition: all 400ms;
        transition: all 400ms;
    }
    #hamburger .btn-gNav span:nth-child(1) {
        top:8px;
    }
    #hamburger .btn-gNav span:nth-child(2) {
        top:18px;
    }
    #hamburger .btn-gNav span:nth-child(3) {
        top:28px;
    }
    #hamburger .btn-gNav.open span:nth-child(1){
        background: #F8F4E6;
        top: 18px;
        -webkit-transform: rotate(-45deg);
        -moz-transform   : rotate(-45deg);
        transform        : rotate(-45deg);
    }
    #hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
        top: 18px;
        background :#F8F4E6;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);
    }
    
    .btn-gNav{
        display: block;
    }
    #gNav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 50px;
    }
    #gNav .gNav-menu{
        width: 100%;
        height:100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: #CB4042;
    }
    #gNav .gNav-menu li{
        padding : 10px 20px;
        margin: 0 auto;
        line-height: 1.5em;
    }
    #gNav .gNav-menu li a::before,
    #gNav .gNav-menu li a::after {
        bottom: 0;
    }
    /* first-view */
    .first-view{
        /*height: 280px*/
        height: 550px;
        background-position: 50% bottom;
    }
    .message{
        top: 110px;
        right: 0px;
        font-size: min(max(17px, 4vw), 22px);
    }
    #message{
        color: #CB4042;
        font-size: min(max(23px, 4.8vw), 36px);
    }

    /*スクロールダウン全体の場所*/
    .scrolldown1{
        /*描画位置※位置は適宜調整してください*/
        top: 450px;
        left: 50%;
        margin: 0 auto;
    }
    .scrolldown1 span{
        transform: rotate(0deg);
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        display: block;
        position: relative;
        left: -50%;
        color: #F8F4E6;
    }
    /* 線の描写 */
    .scrolldown1::after{
        position: absolute;
        top: 5px;
        left: 0px;
        /*線の形状*/
        width: 1px;
        height: 30px;
        background: #F8F4E6;
        /*線の動き1.4秒かけて動く。永遠にループ*/
        animation: pathmove-sp 1.4s ease-in-out infinite;
        opacity:0;
    }

    /*高さ・位置・透過が変化して線が上から下に動く*/
    @keyframes pathmove-sp{
        0%{
            height:0;
            top:30px;
            opacity: 0;
        }
        30%{
            height:30px;
            opacity: 1;
        }
        100%{
            height:0;
            top:60px;
            opacity: 0;
        }
    }
    /* introduction */
    .introduction{
        padding: 50px 0;
    }
    .intro-brown{
        font-size: min(max(14px,3.2vw), 20px);
    }
    .intro-red{
        font-size: min(max(14px,3.2vw), 20px);
    }
    .intro-title{
        color: #CB4042;
        font-size: min(max(19px,4.2vw), 34px);
    }

    /*feature*/
    .feature{
        height: auto;
        padding: 40px 0;
    }
    .feature .container{
        width: 100vw;
        padding: 0 0 45px 0;
    }
    .feature img{
        border-radius: 15px 15px 0 0;
    }
    .feature .swiper-parentDiv{
        width: 95vw;
    }
    .feature .swiper-container {
        width: calc(85vw + 12px);
        padding: 0 0 30px 0;
        height: 100%;
    }
    .feature .swiper-pagination-bullets{
        bottom: -10px;
    }
    .feature .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        margin: 0px 8px;
    }
    .feature .swiper-button-prev {
        left: -8px;
        transform: scale(0.5);
    }  
    .feature .swiper-button-next {
        right: -8px;
        transform: scale(0.5);
    }
    .feature .section-title{
        color: #F8F4E6;
    }
    .feature-block{
        width: 85vw;
        height: auto;
        flex-direction: column;
        align-content: center;
        box-shadow: 6px 10px rgba(0, 0, 0, 0.25);
    }
    .feature-subtitle{
        width: 100%;
        text-align: center;
    }
    .feature-subtitle h3{
        margin-bottom:20px;
        display: inline-block;
        /*text-decoration: underline rgba(199, 174, 104, 0.5) solid 8px;*/
    }
    .feature-image{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 0px 0 0 0px;
    }
    #feature-1{
        object-position: 65% 80%;
    }
    #feature-2{
        object-position: 50% 20%;
    }
    #feature-3{
        object-position: 20% 90%;
    }
    .feature-sentence{
        width: calc(100% - 40px);
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .feature-sentence-parent{
        float: left;
        width: 100%;
    }
    .feature-explain p{
        margin-bottom: 20px;
        font-size: 14px;
    }
    #big{
        font-size: 24px;
    }
    /* technique */
    .technique-title-block{
        height: 88px;
    }
    #technique-bg1{
        display: none;
    }
    #technique-bg2{
        display: none;
    }
    .technique-pc-exp{
        display: none;
    }
    .technique-sp-exp{
        display: block;
        margin: 0 auto;
        width: 80vw;
    }
    .technique-sp-exp{
        color: #CB4042;
    }
    .technique{
        padding: 40px 0;
    }
    .technique-block{
        display: block;
    }
    .technique .section-title h3{
        margin-bottom: 20px;
    }
    .section-explain{
        margin-bottom: 60px;
        text-align: center;
    }
    .section-explain p{
        font-family: 'BIZ UDMincho', serif;
    }
    .technique-block:not(.technique-block-last){
        margin-bottom: 50px;
    }
    .technique-mov{
        width: 80vw;
        margin: 20px auto;
        padding: 0 15px;
        float: none;
    }
    .technique-exp{
        width: 80vw;
        float: none;
        padding: 0 15px;
        margin: 0 auto;
    }
    /*history*/
    .history{
        padding: 40px 0 85px;
    }
    .history-pc{
        display: none;
    }
    .history-sp{
        display: block;
    }
    .history-block{
        width: 70vw;
        margin: 0 auto;
        padding-top: 15px;
        border-radius: 15px;
        box-shadow: 6px 10px rgba(0, 0, 0, 0.25);
    }
    .history .swiper-slide{
        border-radius: 15px;
        margin: 0 auto;
    }
    .history .swiper-container {
        width: calc(80vw + 12px);
        border-radius: 15px;
        padding: 0 0 30px 0;
        height: 100%;
    }

    .history .swiper-parentDiv {
        width: 95vw;
        margin: 0 auto;
        position: relative;
    }
    .history .container{
        width: 100vw;
    }
    .history .swiper-button-prev {
        position: absolute;
        left: -8px;
        transform: scale(0.5);
    }
    
    .history .swiper-button-next {
        position: absolute;
        right: -8px;
        transform: scale(0.5);
    }
    .history .swiper-button-next,
    .history .swiper-button-prev {
        --swiper-navigation-color:#F8F4E6;   
        z-index: 0;
    }
    .history .swiper-pagination{
        margin: 0px auto;
    }
    .history .swiper-pagination-bullets{
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
    }
    .history .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
        background-color: #C4C4C4;
        opacity: 0.8;
        outline: none;
        margin: 0px 8px;
    }
    .history .swiper-pagination-bullet-active {
        background-color: #F8F4E6;
        opacity: 1;
    }
    .history-image{
        margin: 20px auto 0 auto;
        width: 50%;
    }
    .history-image img{
        margin: 0 auto;
        width: 100%;
    }
    .hisotry-subtitle{
        padding-top: 10px;
        text-align: center;
    }
    .hisotry-subtitle h3{
        padding: 5px 0;
        text-align: center;
    }
    .history-number{
        display: inline-block;
        position: relative;
    }
    .history-number::before{
        content: '';
        position: absolute;
        left: 50%;
        top: -2px;/*線の上下位置*/
        display: inline-block;
        width: 140px;/*線の長さ*/
        height: 3px;/*線の太さ*/
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: #6A2218;/*線の色*/
        border-radius: 2px;/*線の丸み*/
    }
    .history-explain{
        margin-top: 10px;
        text-align: center;
    }
    .history-explain p{
        padding-bottom: 20px;
    }
    
    /* artist */
    .artist{
        padding: 40px 0;
    }
    .artist-block{
        width: 80vw;
        padding: 0 15px;
        float: none;
        margin: 0 auto 30px auto;
    }
    .artist-exp{
        color: #6A2218;
        text-align: center;
    }
    .artist-mov {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    .artist-url{
        margin: 10px auto;
    }

    .artist-url ul{
        overflow: hidden;
        text-align: center;
    }

    .artist-url a{
        text-decoration: none;
    }
    .artist-url img{
        width: 40px;
        height: 40px;
    }
    .artist-url li{
        display: inline-block;
        list-style-type: none;
        width: 40px;
        height: 40px;
        margin: 10px;
    }
    /*play*/
    .play{
        padding: 40px 0;
        background-color: #F8F4E6;
        overflow: hidden;
    }
    .play-icon{
        background-color: #C7AE68;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: relative;
    }
    .play-icon img{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 8px;
        left: 7px;
    }
    .play-blocks{
        margin-top: 20px;
    }
    .play-parent-block{
        display: block;
    }
    .play-block{
        padding-left:15px;
        margin: 0px;
    }
    .play-block p, .play-block a{
        display: inline-block;
    }
    .play-block a{
        text-decoration: none;
        font-size: min(max(14px, 3.2vw), 16px);
    }
    .play-image{
        float:none;
        width: 80vw;
        padding: 0 15px;
        margin: 0 auto;
    }
    .play-image img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .cooperator{
        padding: 40px 0;
    }
}

@media (min-width: 500px) and (max-width:900px) {
    .technique-title-block{
        height: 122px;
    }
    #technique-bg1{
        display: none;
    }
    #technique-bg2{
        display: none;
    }        
}

@media screen and (max-width:1020px) {
    .message{
        top: 110px;
        right: 0px;
    }
    /*history*/
    .history{
        padding: 40px 0 85px;
    }
    .history-pc{
        display: none;
    }
    .history-sp{
        display: block;
    }
    .history-block{
        width: 70vw;
        margin: 0 auto;
        padding-top: 15px;
        border-radius: 15px;
        box-shadow: 6px 10px rgba(0, 0, 0, 0.25);
    }
    .history .swiper-slide{
        border-radius: 15px;
        margin: 0 auto;
    }
    .history .swiper-container {
        width: calc(80vw + 12px);
        border-radius: 15px;
        padding: 0 0 30px 0;
        height: 100%;
    }

    .history .swiper-parentDiv {
        width: 95vw;
        margin: 0 auto;
        position: relative;
    }
    .history .container{
        width: 100vw;
    }
    .history .swiper-button-prev {
        position: absolute;
        left: -8px;
        transform: scale(0.5);
    }
    
    .history .swiper-button-next {
        position: absolute;
        right: -8px;
        transform: scale(0.5);
    }
    .history .swiper-button-next,
    .history .swiper-button-prev {
        --swiper-navigation-color:#F8F4E6;   
        z-index: 0;
    }
    .history .swiper-pagination{
        margin: 0px auto;
    }
    .history .swiper-pagination-bullets{
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
    }
    .history .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
        background-color: #C4C4C4;
        opacity: 0.8;
        outline: none;
        margin: 0px 8px;
    }
    .history .swiper-pagination-bullet-active {
        background-color: #F8F4E6;
        opacity: 1;
    }
    .history-image{
        margin: 20px auto 0 auto;
        width: 50%;
    }
    .history-image img{
        margin: 0 auto;
        width: 100%;
    }
    .hisotry-subtitle{
        padding-top: 10px;
        text-align: center;
    }
    .hisotry-subtitle h3{
        padding: 5px 0;
        text-align: center;
    }
    .history-number{
        display: inline-block;
        position: relative;
    }
    .history-number::before{
        content: '';
        position: absolute;
        left: 50%;
        top: -2px;/*線の上下位置*/
        display: inline-block;
        width: 140px;/*線の長さ*/
        height: 3px;/*線の太さ*/
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: #6A2218;/*線の色*/
        border-radius: 2px;/*線の丸み*/
    }
    .history-explain{
        margin-top: 10px;
        text-align: center;
    }
    .history-explain p{
        padding-bottom: 20px;
    }       
}